#gameScreen 
{
    width: 680px;
    height: 520px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-left:24vw;

}

#gameHUD
{
    width: 680px;
    height: 70px;
    margin-bottom: -5px;
    background-color: black;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: center;
    margin-left:24vw;
    

}

body
{

    background-color: rgb(34, 34, 34);
}
@font-face 
{
    font-family: emulogic;
    src: url("../fonts/emulogic.ttf");
}


